<template lang="pug">
//- section.cf.pa2-ns.w-40-l.w-100-s.w-100.container
//-   div(v-for="post in posts ")
//-     //- post.fl.w-100.w-50-l.pa2.tl(:post='post' path='/listen/' :link="false" )
//-     post.fl.w-100.w-33-l.pa2.tl(:post='post' path='/listen/' :link='true')
.w-100.pb4
  
  .w-100.center.pt5(:class="{'w-60-l': !$store.getters['settings/isMobile']}")
      h1.tl.pl4  Listen
  .w-100
    .center.flex.flex-wrap(:class="{'w-80-l': !$store.getters['settings/isMobile']}")
      post.pa2.tl.w-50-ns.w-100.ph4(:post='post' path='/listen/' :key='post.id' :tags='false' :showDate='false' v-for="post in posts ")

//- section.cf.pa2-ns.w-80.container

    nuxt-link.btn.link(:to="{ path: path + post.slug }") 
      .aspect-ratio.aspect-ratio--1x1
        .tr.right-0.absolute.z-max.pr3(v-if="post.feature_image" v-for="items of post.tags")
            p.bg-white.black.w-100.ph3.pv2.br-pill {{items.name }}
        img.db.bg-center.cover.aspect-ratio--object(v-if="post.feature_image" 
          :style="'background-image: url(' + post.feature_image + ')'"
        )
        .tr.right-0.absolute.z-max.pr3(v-if="!post.feature_image" v-for="items of post.tags")
            p.bg-white.black.w-100.ph3.pv2.br-pill  {{items.name}}
        .primary-bg.db.bg-center.aspect-ratio--object(v-if="!post.feature_image")
      .ph2.ph0-ns.pb3.link.db
        h3.f5.f4-ns.mb0.black-90 {{ post.title }}
        p.f6.f5.fw4.mt2.black-60(v-html="post.html")
</template> 

<style scoped>
a {
  text-decoration: none;
}

.logo {
  width: 60vw;
}

.stable-post{
  min-height: 700px;
}

.bg-about {
  /* height: 100vh; */
  background-image: url(~/assets/wave.svg);
  background-size: cover;
  background-repeat: repeat-y;
}
a:hover {
  border: 1px solid black;
}
</style>

<script>
import Post from '~/components/Post.vue'

export default {
   components: {
    Post
  },
 
  async mounted() {
    await this.$store.dispatch("posts/fetchPosts");
    await this.$store.dispatch("posts/fetchTags");
    this.posts = this.$store.getters["posts/getPostsByTag"]("listen");
    if (this.posts == null) {
      this.posts = false;
      this.error = true;
    }
  },
  data() {
    return {
      error: null,
      posts: null,
    };
  },
 
};
</script>