$primary: #17333F;
$secondary: #ECF2F5;

// AFD2E0 maybe
$opacity: #74858C;
$background: #F8F8FF;
$header-font: 'Brandon Grotesque', 'brandon-grotesque', 'Arial', sans-serif;
// $body-font: 'Brandon Grotesque','Arial', sans-serif;
$body-font: 'Brandon Grotesque','brandon-grotesque', 'Arial', sans-serif;

.primary{
    color: $primary;
}
.primary-bg{
    background-color: #4282B3;
}
.secondary{
    color: $secondary;
}
.secondary-bg{
    background-color: $secondary;
}
