<template lang="pug">
a.center(:class="{ 'flex-l': !fullWidth, '': fullWidth }" href='/about')
  .vh-50.z-0(
    v-for="items in aims",
    :key="items.h1",
    @mouseover="handleMouseOver(items.h1, true)",
    @mouseleave="handleMouseOver(items.h1, false)",
    :class="{ 'w-third-l': !fullWidth, 'w-100': fullWidth }",
    :style="items.hover ? {'background-color': '#4282B3'} : { 'background-image': 'url(' + items.src + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center center'}"
  )
    .z-1.vh-50.absolute(
      :class="{ 'w-third-l w-100': !fullWidth, 'w-100 left-0': fullWidth }"   :style="items.hover ? '' : { 'background-color': 'black', 'opacity': '30%'}"
    )
    .relative.h-100
      .z-2.absolute.ph3.bottom-0.measure.lh-title.w-60
        h1.tl.white {{ items.h1 }}
        p.white.tl.f4 {{ items.text }}
</template>

<style scoped>
.fullWidth{
  width: 100vw;
}
</style>

<script>
import aim1 from "~/assets/aim1.jpg";
import aim2 from "~/assets/aim2.jpg";
import aim3 from "~/assets/aim3.jpg";
export default {
  props: ["fullWidth"],
  methods: {
    handleMouseOver(el, bool) {
      if (bool) {
        for (let i = 0; i < this.aims.length; i++) {
          console.log(i);

          if (this.aims[i].h1 === el) {
            this.aims[i].hover = true;
          }
        }
      } else {
        for (let items of this.aims) {
          items.hover = false;
        }
      }
    },
  },
  mounted() {},
  data() {
    return {
      aims: [
        {
          src: aim1,
          h1: "Promote",
          text: "Promoting a positive view of age and ageing in public debate",
          hover: false,
        },
        {
          src: aim2,
          h1: "Strengthen",
          text: "Strengthening the visibility of content created by older adults",
          hover: false,
        },
        {
          src: aim3,
          h1: "Engage",
          text: "Engaging more older adults in radio and broadcasting",
          hover: false,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
a{
  font-weight: 400;
}
</style>