<template lang="pug">
.w-100.footer-bg.center.ph4-l.pt2
  .w-90.center.flex-ns
    .w-50-ns.w-100
      p.mh3
        a.fw5.f4.link(href="/") Later Life Audio and Radio Cooperative

      p.mh3
        a.fw5.f4.link(href="/privacy" ) Privacy statement

      p.f4.mh3 Designed and developed by
        a.f4.fw5.link(href="https://fractalsdesign.uk" target='_blank')  fractals
    .w-50-ns.w-100.tl
      p.mh3
        a.f4.fw5.link(href="/join") Join us

      p.mh3
        a.link.f4.fw5(href="https://twitter.com/LLARCoop" target='_blank') Twitter

      p
        a.mh3.f4(href="https://www.mixcloud.com/LLARC/" target="_blank")
          img(src="~/assets/logos/mixcloud.svg", width="210px")

  .center.w-90.pt4
    .w-100.dt(:class="{ flex: !$store.getters['settings/isMobile'] }")
      .frame.tc(
        :class="{ 'w-25': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
      )
        .pa2
          a(href='https://epsrc.ukri.org/' target="_blank")
            img.helper(src="../assets/logos/epsrc.png")
      .frame.tc(
        :class="{ 'w-25': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
      )
        a(href='https://www.ukri.org/our-work/browse-our-areas-of-investment-and-support/digital-economy-theme/' target="_blank")
          img.helper(src="../assets/logos/de.svg")
      .tc.frame(
        :class="{ 'w-25': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
      )
        a(href='https://www.ncl.ac.uk/' target="_blank")
          .pa3
            img.helper(src="../assets/logos/ncl.png")
      .frame.tc(
        :class="{ 'w-25': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
      )
        a(href='https://www.uk.coop/' target="_blank")
          img.pr5-l.pr0.helper(src="../assets/logos/coop.png")
    .f5-l.f6.pv4.tc.w-80-l.w-100.center.lh-copy This work is funded by the Digital Economy Telling Tales of Engagement and funding is supported by UKRI council. Powered by <a href='https://openlab.ncl.ac.uk/'>Open Lab</a>.

//-take all to f4?
</template>

<style lang='scss' scoped>
.footer-bg {
  background-color: #D3E2EE;
  // background-color: #AFD2E0;
}
.helper {
    display: inline-block;
    // height: 100%;
    vertical-align: middle;
}

.frame {

    height: 120px;
    
    white-space: nowrap; /* This is required unless you put the helper span closely near the img */

    // text-align: center;
    margin: 1em 0;
}

a,
a:visited {
  color: $primary;
  font-weight: 700;
}

img,
svg {
  /* max-width: 100%; */
  max-height: 120px;
}
</style>
