<template lang="pug">
header.fixed.z-max.w-100.top-0(
  :style="$store.getters['settings/isMobile'] && viewMenu ? { height: '100vh', 'background-color': '#4282B3', position: 'relative' } : ''"
)
  //- Click on the mobile menu

  //- Nav bar
  #navscroll.pointer.z-max.right-0.pr2.p0-ns.link.f3.tr.flex.pt3.pb2.primary-bg(
    @click="openMenu()",
    v-if="$store.getters['settings/isMobile']"
  )
    .pl3(:class="{ animate: viewMenu }")
      #bar1.menu-bar.bg-white
      #bar2.menu-bar.bg-white
      #bar3.menu-bar.bg-white
    #header-item.pl3.pt2.white Menu

  #navscroll.tc.primary-bg
    .header.link.dib.ph4-l(
      v-if="viewMenu",
      :class="{ pt5: $store.getters['settings/isMobile'], 'primary-bg': $store.getters['settings/isMobile'] }"
    )
      a.bottom-center.pb4(href="/")
        img(
          src="~/assets/llarc-white.png",
          v-if="$store.getters['settings/isMobile']"
        )
      #header-item.white.pointer.link.f4-l.f3.dib-ns.v-mid.pr3(
        v-if="!$store.getters['settings/isMobile'] && whiteLogo"
      )
        a.pb4(href="/")
          img(src="~/assets/llarc-white.png", height="65")
      #header-item.white.dt-s.pointer.ma3.ph3.pb2.link.f4-l.f3.dib-ns.v-mid(
        v-if="!$store.getters['settings/isMobile'] && !whiteLogo"
      )
        //- img(src="~/assets/logo.png", height="75")
      #header-item.white.dt-s.pointer.ma3.ph1.pb2.link.f4-l.f3(
        :title="items.title",
        v-for="items in nav",
        @click="menuHandler(items.url)",
        :key="items.id",
        :class="{ dib: !$store.getters['settings/isMobile'] }"
      ) {{ items.label }}
      #header-item.white.dt-s.pointer.ma3.ph3.pb2.link.f4-l.f3.dib-ns.v-mid(
        @click="menuHandler('https://twitter.com/LLARCoop')"
      ) 
        font-awesome-icon.f2(:icon="['fab', 'twitter']")
      #join.ma3.ph3.f4-l.f3.pointer.link.dib.ma3.btn.fw9.pv3.secondary-bg.primary(
        @click="menuHandler('/join/')"
      ) JOIN US
</template>

<script>
import vClickOutside from "v-click-outside";

export default {
  // watch: {
  //   $route(to, from) {
  //     this.navCheck(to, from);
  // },
  // "$store.state.settings.mobile": function () {
  //   let x = this.$store.getters['settings/isMobile']
  //   console.log('as mobile is ' + x)
  //   this.setup();
  // },
  // },
  props: ["activeFontSize"],

  async mounted() {
    this.loadMenu();
    window.addEventListener("resize", () => {
      this.loadMenu();
      // this.setup();
    });
    this.whiteLogo = true;
    // this.setup();
    this.navSpace = true;
    this.$emit("navSpace", true);
    await this.$store.dispatch("settings/fetchSettings").then(() => {
      this.nav = this.$store.getters["settings/getNav"];
    });
  },
  data() {
    return {
      nav: null,
      viewMenu: false,
      accessibility: false,
      whiteLogo: true,
      navSpace: null,

      //if we go with white bar not blue
      // whiteLogo: null,
    };
  },

  directives: {
    clickOutside: vClickOutside.directive,
  },

  methods: {
    setup() {
      let header = document.getElementById("navscroll");
      let join = document.getElementById("join");

      if (this.$route.name === "index") {
        this.navSpace = false;
        this.$emit("navSpace", false);
        header.classList.remove("primary-bg");

        if (this.viewMenu) {
          join.classList.add("primary-bg");
          join.classList.add("secondary");
        }
      } else {
        this.navSpace = true;
        this.$emit("navSpace", true);
        header.classList.add("primary-bg");
        if (this.viewMenu) {
          join.classList.add("secondary-bg");
          join.classList.add("primary");
        }
      }

      if (!this.navSpace) {
        window.addEventListener("scroll", this.doOnScroll, { passive: true });
      } else {
        window.removeEventListener("scroll", this.doOnScroll);
      }
    },
    doOnScroll(event) {
      const scrollHeight = 50;
      let y = window.scrollY;
      // let text = document.querySelectorAll("#header-item");
      // let bars = document.querySelectorAll(".menu-bar");
      let header = document.getElementById("navscroll");
      let join = document.getElementById("join");

      // if (y > scrollHeight && !header.className.includes("bg-white")) {
      if (y > scrollHeight) {
        header.classList.add("primary-bg");
        if (this.viewMenu) {
          join.classList.remove("primary-bg");
          join.classList.add("secondary-bg");
          join.classList.add("primary");
        }
        // join.child("secondary-bg");
        // for (let items of text) {
        //   items.classList.add("primary");
        //   items.classList.remove("white");
        // }
        // for (let items of bars) {
        // // items.classList.add("primary-bg");
        // items.classList.remove("bg-white");
        // }
      } else if (y < scrollHeight) {
        // this.whiteLogo = true;

        header.classList.remove("primary-bg");

        if (this.viewMenu) {
          join.classList.remove("secondary-bg");
          join.classList.remove("primary");
          join.classList.add("primary-bg");
        }
        // for (let items of text) {
        //   items.classList.remove("primary");
        //   items.classList.add("white");
        // }
        // for (let items of bars) {
        // items.classList.add("bg-white");
        // items.classList.remove("primary-bg");
        // }
      }
      setTimeout(() => {
        window.addEventListener("scroll", this.doOnScroll, { passive: true });
      }, 100);
    },
    navCheck(to, from) {
      if (to.name === "index") {
        this.navSpace = false;
        window.addEventListener("scroll", this.doOnScroll, { passive: true });
        this.$emit("navSpace", false);
      } else {
        this.navSpace = true;
        window.removeEventListener("scroll", this.doOnScroll);

        this.$emit("navSpace", true);
      }
      let header = document.getElementById("navscroll");

      let join = document.getElementById("join");

      if (this.navSpace) {
        // this.whiteLogo = false;
        header.classList.add("primary-bg");
        if (this.viewMenu) {
          join.classList.remove("primary-bg");
          join.classList.add("secondary-bg");
          join.classList.add("primary");
        }
      } else {
        // this.whiteLogo = true;

        header.classList.remove("primary-bg");
        if (this.viewMenu) {
          join.classList.remove("secondary-bg");
          join.classList.remove("primary");
          join.classList.add("primary-bg");
        }
      }
    },

    // onClickOutside() {
    //   this.accessibility = false;
    // },
    menuHandler(url) {
      // :to='{path: items.url}'
      console.log(url);
      if (url.startsWith("http")) {
        window.location = url;
      } else {
        this.$router.push({ path: url });
      }
      if (this.viewMenu && this.$store.getters["settings/isMobile"]) {
        this.viewMenu = false;
      }
    },
    openMenu() {
      this.viewMenu = !this.viewMenu;
      this.navSpace = false;

      this.$emit("navSpace", false);
    },
    loadMenu() {
      this.$store.dispatch("settings/fetchWindowWidth", window.innerWidth);
      if (this.$store.getters["settings/getWindowWidth"] < 1205) {
        if (this.viewMenu && this.$store.getters["settings/isMobile"]) {
          this.viewMenu = false;
        }
        this.$store.dispatch("settings/changeMobileState", true);
      } else if (this.$store.getters["settings/getWindowWidth"] >= 1205) {
        this.$store.dispatch("settings/changeMobileState", false);
        this.viewMenu = true;
      }
    },
  },
};
</script>

<style lang='scss' scoped>
#site-name {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Trebuchet MS", Arial, sans-serif;
  color: #f3f3f3;
}
.primary {
  color: $primary;
}

.left-100 {
  right: 0%;
}

.animate #bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
  transform: rotate(-45deg) translate(-8px, 8px);
}
.animate #bar2 {
  opacity: 0;
}
.animate #bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* 
#menu {
  transition: 0.2s;
} */
.menu-bar {
  width: 35px;
  height: 5px;

  margin: 6px 0;
  border-radius: 4px;
  transition: 0.4s;
}
.mobile-box {
  background-color: #1d1d1b;
  color: #fff;
  height: 100vh;
}

.logo {
  width: 10vw;
}

#header-item:hover {
  // color: $secondary;
  text-decoration: underline;
  // font-weight:   800;
}
#header-item {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.access {
  font-family: $body-font;
  font-weight: 900;
}

.access:hover {
  cursor: pointer;
}

.access-window {
  border-width: 4px;
  border-color: $primary;
  border-style: solid;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bottom-center {
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
</style>
