<template lang="pug">
.justify-center.items-center.pv4
  .w-90.center.flex
    .w-50
      h1.tl Our network
    .underline.w-50.pt4.tr
      a.fw5(href="/our-network") View entire network
  .mh5-l.center.mv4.w-90.pt5(:class="{ flex: !$store.getters['settings/isMobile'] }")
    .ph4.tc.mt3(
      :class="{ 'w-20 flex items-end': !$store.getters['settings/isMobile'], 'w-100 w-third-m': !$store.getters['settings/isMobile'] }"
    )
      img(src="../assets/logos/change.png")
    .ph4.tc.mt3(
      :class="{ 'w-20 flex items-end': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
    )
      img.center.ol(src="../assets/logos/openlab.png")
    .ph4.tc.mt3(
      :class="{ 'w-20 flex items-end': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
    ) 
      img.center.ov(src="../assets/logos/older.png")
    .ph4.tc.mt3(
      :class="{ 'w-20 flex items-end': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
    )
      img(src="../assets/logos/tyneside.png")
    .ph4.tc.mt3(
      :class="{ 'w-20 flex items-end': !$store.getters['settings/isMobile'], 'w-100': !$store.getters['settings/isMobile'] }"
    )
      img(src="../assets/logos/sonder.png")
</template>

<script>
export default {
  data() {
    return {
      posts: [],
    };
  },
  async mounted() {
    await this.$store.dispatch("posts/fetchPosts");

    this.posts = this.$store.getters["posts/getAllPosts"].slice(0, 3);
  },
  methods: {
    excerpt(post) {
      // console.log(post);
      if (post.excerpt != null) {
        let excerpt = post.html.split("</p>");
        for (let i = 1; i < excerpt.length; i++) {
          return excerpt[0];
        }
      }
      // return post.excerpt
    },
    getPostDate(post) {
      return dateformat(post.published_at, "mmmm dS, yyyy");
    },
  },
};
</script>

<style lang="scss" scoped>
img {
 
    max-height: 25vh;
    /* max-height: 150px !important; */
    /* width: 20vw; */
}

.ol, .ov{
    height: 180px;
}
</style>

