<template lang="pug">
div
  .o-70.primary-bg.z-2.vh-75-l.vh-50.w-100.absolute.news-bg
  .newsletter.w-100.relative
    .flex.justify-center.items-center.primary.vh-75-l.vh-50.news-bg.dt.w-50-l.w-90.center
      .dtc.v-mid.white.z-3.absolute.w-50-l.w-90
        h1.tl.f1-l Sign up for our newsletter
        p.f3.tl.pt4 Follow this link to receive all of our latest news and updates.
        //- .center.primary-bg.white.pa3.btn
        .tl.pt4
          .f4-l.f3.link.dib.ph4.secondary-bg.btn.fw9.pv2
            a.no-underline.fw7(href="/join")
              p.primary SIGN UP
</template>


<style lang="scss" scoped>
.newsletter {
  background-image: url("../assets/sign-up.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}

h1,
p {
  color: white;
}

.news-bg {
  min-height: 300px;
}
</style>