<template lang="pug">

.justify-center.flex
    .w-80.pt4
        h1.mh5-l.tl Our network
        div.pb4.justify-between.mh4.flex-l
            .vh-25-l
                img.ph4.pv3(src='../assets/logos/change.png')
            .vh-25-l.flex-l.items-end
                img.ph4.pv3(src='../assets/logos/older.png')
            .vh-25-l
                img.ph4.pv3(src='../assets/logos/sonder.png')
            .vh-25-l.flex-l.items-end
                img.ph4.pv3(src='../assets/logos/elders.png')
            .vh-25-l
                img.ph4.pv3(src='../assets/logos/tyneside.png')
            .vh-25-l.flex-l.items-end
                img.svg.ph4(src='../assets/logos/openlab.svg')
            .vh-25-l
                img.pv3.ph4(src='../assets/logos/near.png')
            .vh-25-l.flex-l.items-end
                img.ph4.pv3(src='../assets/logos/golf.png')
                    
        //- .absolute.bottom-center(v-if="!$store.getters['settings/isMobile']")
            .f4-l.f5.pt4.tc.i.w-80-l.w-100.center.lh-copy This work is funded by the Digital Economy Telling Tales of Engagement and funding is supported by UKRI council. Powered by Open Lab.
            img.pv3.ph4-l(src='../assets/logos/epsrc.png')
            img.ph4.pv3(src='../assets/logos/de.svg')
            img.ph4.pv3(src='../assets/logos/openlab.svg')
        //- div(v-if="$store.getters['settings/isMobile']")
        div
            .f4-l.f5.pt4.tc.i.w-80-l.w-100.center.lh-copy This work is funded by the Digital Economy Telling Tales of Engagement and funding is supported by UKRI council. Powered by Open Lab.
            img.pv3.ph4-l(src='../assets/logos/epsrc.png')
            img.ph4.pv3(src='../assets/logos/de.svg')
            img.ph4.pv3(src='../assets/logos/openlab.svg')
   
</template>

<style scoped>
img {
 
    max-height: 10vh;
    /* max-height: 150px !important; */
    /* width: 20vw; */
}

.svg{
    height: 10vh;
}

p {
    font-style: italic;
}

.bottom-center{
    position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
    transform: translateX(-50%)

}
</style>
