<template lang="pug">
//- section.cf.pa2-ns.w-40-l.w-100-s.w-100.container
//-   div(v-for="post in posts ")
//-     //- post.fl.w-100.w-50-l.pa2.tl(:post='post' path='/listen/' :link="false" )
//-     post.fl.w-100.w-33-l.pa2.tl(:post='post' path='/listen/' :link='true')
.w-100.mb4(:class="{ph3: $store.getters['settings/isMobile']}")
  .w-100.center.pt5(:class="{ 'w-60-l': !$store.getters['settings/isMobile'] }")
    h1.tl Events
    .center
      //- post.pa2.tl.w-50-ns.w-100.ph4(:post='post' path='/events/' :tags='false' :showDate='false' v-for="post in posts ")
      div
        h2 Upcoming events
        div(v-for='event in nextThree')
          nuxt-link.flex.pb3(:to="{path:event.customData.link}")
            .w-33-l.w-100.aspect-ratio.pb25ct
              div.aspect-ratio--object.primary-bg.tc.flex.justify-center.items-center
                h3.f1.white.date {{getDate(event.dates)}}
            .w-66-l.w-100.aspect-ratio.pb25ct.pl5
              div.tc.flex.justify-center.items-center.aspect-ratio--object
                h3.f2 {{event.customData.title}}
        p(v-if="$store.getters['settings/isMobile']") To view our full calendar, please visit our website on a desktop device.
    
    div(v-if="!$store.getters['settings/isMobile']")
      //- post.pa2.tl.w-50-ns.w-100.ph4(:post='post' path='/events/' :tags='false' :showDate='false' v-for="post in posts ")
      div
        h2 Our full calendar
        v-calendar.full-width.custom-calendar.max-w-full(
          :masks="masks",
          :attributes="attributes",
          disable-page-swipe="",
          is-expanded="",
          trim-weeks
        )
          template(v-slot:day-content="{ day, attributes }")
            .h-full.z-10
              .pt2.day-label.pl2.f4 {{ day.day }}
              .flex-grow
                nuxt-link(
                  :to="{ path: attr.customData.link }",
                  v-for="attr in attributes",
                  :key="attr.key"
                ) 
                  h3.mh1.pa2.primary-bg.br1.white.fw5.f3 {{ attr.customData.title }}

//- section.cf.pa2-ns.w-80.container
  nuxt-link.btn.link(:to="{ path: path + post.slug }") 
    .aspect-ratio.aspect-ratio--1x1
      .tr.right-0.absolute.z-max.pr3(v-if="post.feature_image" v-for="items of post.tags")
          p.bg-white.black.w-100.ph3.pv2.br-pill {{items.name }}
      img.db.bg-center.cover.aspect-ratio--object(v-if="post.feature_image" 
        :style="'background-image: url(' + post.feature_image + ')'"
      )
      .tr.right-0.absolute.z-max.pr3(v-if="!post.feature_image" v-for="items of post.tags")
          p.bg-white.black.w-100.ph3.pv2.br-pill  {{items.name}}
      .primary-bg.db.bg-center.aspect-ratio--object(v-if="!post.feature_image")
    .ph2.ph0-ns.pb3.link.db
      h3.f5.f4-ns.mb0.black-90 {{ post.title }}
      p.f6.f5.fw4.mt2.black-60(v-html="post.html")
</template> 

<style lang='scss' scoped>
.date{
  text-transform: uppercase;
}
.pb25ct{
  padding-bottom: 25%;
}
a {
  text-decoration: none;
}

.logo {
  width: 60vw;
}

.stable-post {
  min-height: 700px;
}

.flex-grow {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
}
.bg-about {
  /* height: 100vh; */
  background-image: url(~/assets/wave.svg);
  background-size: cover;
  background-repeat: repeat-y;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
::v-deep .custom-calendar.vc-container {
  font-family: "Brandon Grotesque", "Arial", sans-serif;

  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 150px;
  --weekday-bg: #ecf2f5;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  border: 0px;
  width: 100%;
  & .vc-header {
    // background-color: #f1f5f8;
    padding: 10px 0;
    & .vc-title {
      font-size: 2rem;
    }
  }
  & .vc-weeks {
    // padding: 0;
  }
  & .vc-weekday {
    border-bottom: var(--weekday-border);
    font-size: 1.5rem;
    border-top: var(--weekday-border);
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #17333f;
    // padding: 5px 0;
  }
  & .vc-day {
    // padding: 0 5px 3px 5px;
    text-align: left;
    min-height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
      background-color: var(--weekday-bg);
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}

.nuxt-link:hover{
  text-decoration: none;
}
</style>

<script>
import Post from "~/components/Post.vue";
import dateformat from "dateformat";

export default {
  components: {
    Post,
  },

  async mounted() {
    await this.$store.dispatch("posts/fetchPosts");
    await this.$store.dispatch("posts/fetchTags");
    this.events = this.$store.getters["posts/getPostsByTag"]("events");
    if (this.events == null) {
      this.events = false;
      this.error = true;
    }

    this.eventHandler();
    this.nextThreeGen()
  },

  data() {
    return {
      events: null,
      error: false,
      nextThree: [],

      masks: {
        weekdays: "WWW",
      },
      attributes: [],
    };
  },

  methods: { 
    getDate(date) {
      return dateformat(date, "d mmm");
    },
    nextThreeGen(){
      this.nextThree = this.attributes.slice(0,3)
    },
    eventHandler() {
      let obj;
      for (let items of this.events) {
        console.log(items)
        obj = {
          key: items.id,
          customData: {
            title: items.title,
            link: '/events/'+items.slug,
          },
          dates: this.dateHandler(items.excerpt),
        };
        console.log(obj);
        let date = new Date()
        if(obj.dates > date){
          this.attributes.push(obj);
        }
      }
      this.attributes.sort((a,b) => a.dates - b.dates)
    },
    dateHandler(date) {
      // console.log(date)
      // let x = dateformat(date, "fullDate")

      return new Date(date);
    },
  },
};
</script>