<template lang='pug'>
.center(:style="fontSize")
  Nav(@navSpace="navSpace = $event")
  Nuxt.bg-white(:class="{ navSpace: navSpace }")
  Footer.pt4
</template>

<style lang='scss'>
html {
  font-family: $body-font;
  background-color: #d3e2ee;
  // font-size: 16px;
  word-spacing: 1px;
}
p,
span,
div {
  // font-size: (var(--body-size)) + "px";
  color: $primary;
  // font-size: 16px;
  // font-size: var(--body-size);
}

.btn,
.btn:visited {
  color: white;
}

a,
a:visited {
  color: $primary;
  font-weight: 700;
}
h1 {
  /* font-family: 'Arial Black', 'Gadget', 'Helvetica Neue', sans-serif; */
  font-family: $header-font;
  color: $primary;
  font-weight: 500;

  font-size: var(--h1-size);
}
h2 {
  font-family: $header-font;
  color: $primary;
  font-weight: 500;

  font-size: var(--h2-size);
}
h3 {
  font-family: $header-font;
  color: $primary;
  font-weight: 500;

  font-size: var(--h3-size);
}

@media screen and (max-width: 1200px) {
  
  .navSpace {
    padding-top: 3rem;
  }
}

@media screen and (min-width: 1201px) {
  .navSpace {
    padding-top: 5rem;
  }
}
</style>

<script>
import Nav from "../components/Nav.vue";
import Footer from "../components/Footer.vue";
export default {
  components: { Nav, Footer },

  data() {
    return {
      activeFontSize: 16,
      navSpace: null,
    };
  },

  methods: {},
  computed: {
    fontSize() {
      return {
        "--body-size": this.activeFontSize + "px",
        "--h1-size": this.activeFontSize * 2 + "px",
        "--h2-size": this.activeFontSize * 1.5 + "px",
        "--h3-size": this.activeFontSize * 1.25 + "px",
      };
    },
  },
};
</script>