<template lang='pug'>
div
  .justify-center.tc
    .justify-center.items-center
      .video-container
        .center.w-70-l.w-90

          //- .tl.fw6-ns.fw5.z-3.herotext.pb4-l.pb3.tc
          //-   h1.lh-title.white.tc(
          //-     :class="{ 'f-subheadline': !$store.getters['settings/isMobile'], 'f1': $store.getters['settings/isMobile'] }"
          //-   ) Later Life Audio & Radio Cooperative
        .center.w-90-l.w-90
          .tl.fw5.z-3.absolute.bottom-2.pb4-l.pb3.w-90
            //- h2.lh-title.white(
            //-   :class="{ 'head': !$store.getters['settings/isMobile'], 'f2': $store.getters['settings/isMobile'] }"
            //- ) Later Life Audio & Radio Cooperative
            .center.tc.w-70-l.w-100
              img(src='../assets/logo-no-wave.png')
                //-make bigger and higher
              h2.lh-title.white(
                :class="{ 'sub': !$store.getters['settings/isMobile'], 'f3': $store.getters['settings/isMobile'] }"
              ) Promoting radio content created by older adults
          //- .tl.fw6-ns.fw5.z-3.absolute.bottom-2.pb6-l.pb3.measure.f2-l.f3.pr3
          //-   span.f-subheadline-l.f1.lh-title.white Promoting radio content created by older adults
          .overlay.o-30.bg-black.z-2
        video#intro-video.z-1.mw-100(
          src="~/assets/intro-lq.mp4",
          type="video/mp4",
          autoplay,
          loop,
          muted
        )

  Aims(:fullWidth="false")

  Share.tc

  News

  Newsletter

  Network
</template> 


<style lang='scss'>

.head{

  font-size: 4rem;

}

.sub{
  font-size: 3rem;

}

.f-4{
  font-size: 4rem;
}
.herotext{
  position: absolute;
  top: 10vh;
}
.img-trio {
  max-height: 200px;
  max-width: 200px;
}

.container {
  margin: 0 auto;
  max-height: 90vh;
  justify-content: center;
  text-align: center;
}

.hero-logo {
  max-height: 40vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

@media screen and (max-width: 1200px) {
  .hero-img {
    // height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 1201px) {
  .hero-img {
    height: 100vh;
  }
}

.post ::v-deep p {
  font-size: 16rem;
}

.header-image {
  background-image: url(~/assets/header.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center top; */
}

.share {
  background-image: url(~/assets/seigaiha.png);
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center top; */
}

.featured-image {
  background-size: cover;
  background-repeat: no-repeat;
}
.post-trio {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-link {
  text-decoration: underline;
}

.short-box {
  width: 44vw;
}

.long-box {
  width: 88vw;
}

.btn:hover {
  cursor: pointer;
}

.read-more {
  text-decoration: none;
}
.read-more:hover {
  text-decoration: underline;
}

.swiper-pagination-bullet-active {
  background-color: $primary !important;
}
.swiper-pagination-bullet {
  opacity: 1;
  background-color: $secondary;
}

video {
  object-fit: cover;
}

// .overlay {
//   	width: 100%;
//     opacity: 0.6;
//     // height: 400px;
//     background-image: #000000;
//     background-repeat:no-repeat;
//     background-blend-mode: multiply;
//     background-size: cover;
// }

.video-container {
  position: relative;
  // max-width: 100vw;

  @media screen and (min-width: 630px) {
    height: 50vh;
    span {
      // padding-right: 100px;
    }
  }
  @media screen and (max-width: 959px) {
    height: 50vh;
  }

  @media screen and (min-width: 960px) {
    height: 95vh;
  }

  background-attachment: scroll;
  overflow: hidden;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.video-container .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (min-width: 60em) {
  .measure-l {
    max-width: 50em;
  }
}
</style>

<script>
import dateformat from "dateformat";

import Post from "../components/Post.vue";
import Footer from "../components/Footer.vue";

import Aims from "../components/Aims.vue";
import Share from "../components/Share.vue";
import News from "../components/News.vue";
import Newsletter from "../components/Newsletter.vue";
import Network from "../components/Network.vue";

export default {
  components: { Post, Footer, Aims, Share, News, Newsletter, Network },
  data() {
    return {
    }
  },
  async mounted() {
    if (this.$store.getters["settings/isMobile"]) {
      this.$store.dispatch("settings/fetchAnimation", false);
    }
    window.addEventListener("resize", () => {
      // this.checkAnimation();
    });

    const video = document.getElementById("intro-video");
    video.addEventListener("ended", () => {
      video.currentTime = 0.05;
      video.play();
    });
  },
  methods: {
    checkAnimation() {
      if (this.$store.getters["settings/isMobile"]) {
        this.$store.dispatch("settings/fetchAnimation", false);
      } else {
        this.$store.dispatch("settings/fetchAnimation", true);
      }
    },
  },
};
</script>